# Ignore node_modules
node_modules

# Ignore sessions
sessions
sessions_test
.wwebjs_cache

# Ignore logs
logs

# Ignore test coverage reports
coverage

# Ignore other unnecessary files
.DS_Store
.vscode
